<div class="main-container">
    <form [formGroup]="rechargeForm">
        <h1 mat-dialog-title>Recharge??</h1>
        <div mat-dialog-content>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Amount</mat-label>
                    <input type="number" matInput placeholder="Amount" formControlName="amount">
                </mat-form-field>
            </div>
        </div>
        <div class="disclaimer">
            <small class="font-weight-bold">Platform fee would be levied while recharging.</small>
            <small class="font-weight-bold">Not additional charges while ordering using wallet</small>
            <small class="font-weight-bold text-warning">*Please use VPA/UPI id to pay if redirection to app doesn't work</small>
        </div>
        <div mat-dialog-actions class="action-container">
            <button mat-raised-button (click)="closeDialog()"> Cancel</button>
            <button mat-raised-button [disabled]="!rechargeForm.valid" color="primary" (click)="rechargeWallet()">Recharge</button>
        </div>
    </form>
</div>