.main-header {
    background-color: white;
    font-size: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
}

.flex-container .logo-home{
    padding-left: 100px;
}

.flex-container .nav-items{
    padding-right: 100px;    
}

.logo-home img{
    width: 100px;
    height: auto;   
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em 2em .5em 2em;
    color: rgba(101, 96, 96, 1);
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(86, 70, 70, 0.3)
}
