<header class="main-header">
    <div class="flex-container" >
        <div class="logo-home">
            <a href="/"><img src="assets/images/logo.png" alt="takemo-logo"></a>
        </div>
        <div class="nav-items">
            <nav class="nav">
                <ul>
                    <li><a href="/about" routerLinkActive="active">about</a></li>
                    <li><a href="/pricing" routerLinkActive="active">pricing</a></li>
                    <li><a href="/contact" routerLinkActive="active">contact</a></li>                
                </ul>
            </nav>
        </div>
    </div>
</header>
