.main-container{
    width: 100%;
    min-height: 78vh;
    max-height: fit-content;
    overflow: auto;
}

.attendance-filter{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}