<div class="main-container">
            <cdk-virtual-scroll-viewport itemSize="500" class="viewport" >
                    <mat-expansion-panel [expanded]='true' class="expansion-panel">
                        <table class="table table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th class="col1" scope="col">Id</th>
                                    <th class="col2" scope="col">Name</th>
                                    <th class="col3">IP address</th>
                                    <th class="col4" scope="col">Edit</th>
                                    <th class="col5" scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" >
                                <!-- <p style="margin: 0; padding: 5px 0 0 10px; text-align: left;">{{category.category.name}}</p>         -->
                                <tr class="table-row"*ngFor="let counter of counterResponse; let mainIndex = index">
                                    <td class="col1" >{{mainIndex+1}}</td>
                                    <td class="col2" >
                                        <div *ngIf="!counter.is_edit">
                                            {{counter.counter_name}} 
                                        </div>
                                        <mat-form-field *ngIf="counter.is_edit">
                                            <mat-label>Counter name</mat-label>
                                            <input type="text" matInput [(ngModel)]="counter.counter_name" (keydown.enter)="editCounter(counter)" (blur)="editCounter(counter)" placeholder={{counter.counter_name}} [disabled]="!counter.is_edit">
                                        </mat-form-field>
                                    </td>
                                    <td class="col3" >
                                        <div *ngIf="!counter.is_edit">
                                            {{counter.ip}} 
                                        </div>
                                        <mat-form-field *ngIf="counter.is_edit">
                                            <mat-label>Enter IP address </mat-label>
                                            <input type="text" matInput [(ngModel)]="counter.ip"  (keydown.enter)="editCounter(counter)" (blur)="editCounter(counter)" placeholder={{counter.ip}} [disabled]="!counter.is_edit">
                                        </mat-form-field>
                                    </td>
                                    <td class="col4">
                                        <mat-icon svgIcon="edit" title="Edit this item" (click)="enableEditCounter(counter)"></mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon  title="Delete this category" svgIcon="delete" (click)="deleteCounter(counter)"></mat-icon>
                                    </td>
                                </tr>
                                <tr>
                                    <td>-</td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Counter name</mat-label>
                                            <input type="text" matInput [formControl]="counternameFormControl" placeholder="Counter name">
                                          </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field>
                                            <mat-label>Counter IP</mat-label>
                                            <input type="text" matInput [formControl]="counterIPFormControl" placeholder="000.000.000.000">
                                          </mat-form-field>
                                    </td>
                                    <td><button mat-raised-button  [disabled]="!(counternameFormControl.valid && counterIPFormControl.valid)" color='primary' class="add-category-button" title="Add a new category" svgIcon="plus" (click)="addCounter()">Add Counter</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-expansion-panel>
            </cdk-virtual-scroll-viewport>
</div>

