<div class="pwd-recovery-window">
    <div class="pwd-recovery-box">
        <div class="form-text-box">
            <h2 text-align="center">Recover password</h2>
        </div>
        <form [formGroup]="pwdRecoverForm" (ngSubmit)="newPwdSubmit()">
            <div class="username-section">
                <input placeholder="Email Address or Phone number" type="email" class="form-control" id="email" formControlName="username">
                <div *ngIf="pwdRecoverFormControl.username.touched && pwdRecoverFormControl.username.invalid">
                    <small *ngIf="pwdRecoverFormControl.username.errors?.['required']" class="text-danger">Email or Phone number required</small>
                    <small *ngIf="pwdRecoverFormControl.username.errors?.['pattern']" class="text-danger"> Please enter valid email id or phone number</small>
                </div>
                <div *ngIf="pwdRecoverFormControl.username.untouched || pwdRecoverFormControl.username.valid">
                    <br>
                </div>
            </div>
            <div class="otp-item">
                <form [formGroup]="otpForm">
                    <div>
                        <input placeholder="Please enter OTP here" type="text" class="form-control" formControlName="otp" 
                        (focus)="authUser()" >
                        <ng-template [ngIf]="authResponse" [ngIfElse]="noReponse">
                            <div >
                                <small>OTP Sent. Please check</small>
                            </div>
                        </ng-template>
                        <ng-template #noReponse>
                            <br>
                        </ng-template>
                    </div>
                </form> 
            </div>
                <input placeholder="Password" [class.is-invalid]="pwdRecoverFormControl.newPassword.touched && pwdRecoverFormControl.newPassword.invalid" type="password" class="form-control" id="pwd" formControlName="newPassword"> 
                <div *ngIf="pwdRecoverFormControl.newPassword.touched && pwdRecoverFormControl.newPassword.invalid">
                    <small *ngIf="pwdRecoverFormControl.newPassword.errors?.['required']" class="text-danger">Password required</small>
                    <small *ngIf="pwdRecoverFormControl.newPassword.errors?.['minlength']" class="text-danger">Min 8 character password is required</small>
                </div>
                <div *ngIf="pwdRecoverFormControl.newPassword.untouched || pwdRecoverFormControl.newPassword.valid">
                    <br>
                </div>
                <button [disabled]="!pwdRecoverForm.valid" type="submit" class="validate-btn btn btn-primary">Reset password</button>
        </form>
    </div>
</div>