.pwd-recovery-window {
  height: 85vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../../../assets/images/loginBG.jpg");
  background-size: 100%;
  background-size: cover;
}

.form-text-box {
  text-align: center;
}

.pwd-recovery-box {
  position: relative;
  width: 25%;
  height: 50%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
}

@media screen and (max-width: 1024px) {
  .pwd-recovery-box {
    width: 60%;
    height: 50%;
  }
}

@media screen and (max-width: 768px) {
  .pwd-recovery-box {
    width: 60%;
    height: 50%;
  }
}

@media screen and (max-width: 526px) {
  .pwd-recovery-box {
    width: 90%;
    height: 50%;
  }
}

/* .otp-item{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 35%;
    z-index: 10;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    padding: 10px;
} */
.validate-btn {
  position: relative;
  width: 50%;
  left: 25%;
}
