<div class="main-container">
    <div class="quick-access" >
        <div class="current-balance">
            <h1>Wallet Balance:&nbsp;₹&nbsp; {{currentWalletBalance}}</h1>
        </div>
        <div class="recharge-view">
            <button mat-raised-button (click)="openRechargeDialog()">Recharge here</button>
        </div>
    
       
    </div>
    <div style="white-space: pre;" class="tab-group-container">
        <cdk-virtual-scroll-viewport itemSize="500" class="viewport">
            <table mat-table [dataSource]="walletTransactionHistoryDataSource" class="mat-elevation-z8 demo-table">
                <ng-container matColumnDef="Sl_no">
                    <th mat-header-cell *matHeaderCellDef>Sl No</th>
                    <td mat-cell *matCellDef="let element">{{element.orderno}}</td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef='Date'>
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell style="white-space: pre;" *matCellDef="let element" [innerHTML]="element.order_detail"></td>
                </ng-container>
    
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">₹&nbsp;{{element.amount}}</td>
                </ng-container>
                
                <!-- Weight Column -->
                <ng-container matColumnDef='Type'>
                    <th mat-header-cell *matHeaderCellDef>Type</th>
                    <td mat-cell *matCellDef="let element">{{element.type}}</td>
                </ng-container>
    
                <ng-container matColumnDef='Status'>
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.Status}}</td>
                </ng-container>
    
                <ng-container matColumnDef='Transaction_ID'>
                    <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
                    <td mat-cell *matCellDef="let element">{{element.Transaction_ID}}</td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </cdk-virtual-scroll-viewport>
    </div>
</div>