.main-container{
    height: 90vh;
    width: 100%;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.viewport {
    height: 68vh;
}

.tab-group-container{
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 10px;
    width: 80%;
    height: 30vh
}