<div class="main-header">
    <div class="right-section">
      <div *ngIf="hasMultipleRestaurants" class="dropdown">
        <a style="text-decoration: none; color: rgb(225, 223, 223);" ><mat-icon> store</mat-icon></a>
        <div class="dropdown-content" >
          <div *ngFor="let restaurant of meData['restaurants']">
            <a (click)="setRestaurantVariable(restaurant)" [style.font-weight]="restaurantId == restaurant.restaurant_id? 'bolder': 'lighter'">{{restaurant['restaurant_name']}}</a>
          </div>
        </div>
      </div>
      <a style="text-decoration: none; " [style.color]="printerConn.usbSought? 'rgb(0, 136, 50)': 'rgb(225, 223, 223)' " (click)="connectToPrinter()"><mat-icon>print</mat-icon></a>
      <a *ngIf="hasTableOrderingEnabled" style="text-decoration: none; color: rgb(225, 223, 223); " (click)="onHeaderIconClick('table')"><mat-icon>table_restaurant</mat-icon></a>
      <a style="text-decoration: none; color: rgb(225, 223, 223); " (click)="onHeaderIconClick('support')"><mat-icon>contact_support</mat-icon></a>
      <a style="text-decoration: none; color: rgb(225, 223, 223);" (click)="onHeaderIconClick('profile')"><mat-icon>person_outline</mat-icon></a>
      <div class="logo-home">
        <a href="/home"><img src="assets/images/takemo_logo_transparent.png" alt="takemo-logo"></a>
      </div>
    </div>
    <div class="text-center">
      <p class="m-0" style="color: white; text-decoration: underline; font-size: large;">{{location}}</p>
    </div> 
    <div class="navigation" (clickOutside)="closeNav()">
      <input id='hamburger-checkbox' type="checkbox"
                class="toggle-menu">
      <div class="hamburger"></div>
      <ul class="menu">
        <li *ngFor="let item of dropdownList; index as i;" (click)="onClick(i)">
          <p>{{item.name}}</p>
      </ul>
    </div>
</div>