<div class="main-container">
  <div *ngIf='!loadView' class="center-spin">
    <mat-spinner diameter="40" style="margin: 0 auto"></mat-spinner>
  </div>
  <div *ngIf="loadView" class="input-container">
    <mat-form-field class="form-field" *ngIf="!restaurantFlag">
      <mat-label>Select Restaurant</mat-label>
      <mat-select [(value)]="selectedRestaurantwithCompany" (selectionChange)="onValueChange('none')">
        <mat-option *ngFor="let restaurant of restaurantList" [value]="restaurant.restaurant_id">
          {{restaurant.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="assignedRestaurantList.length > 1" class="form-field">
      <mat-label>Select Restaurant</mat-label>
      <mat-select
        [(value)]="selectedRestaurant"
        (selectionChange)="onValueChange('none')"
      >
        <mat-option *ngFor="let restaurant of assignedRestaurantList" [value]="restaurant.restaurant_id">
          {{ restaurant.restaurant_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="isITTUser" class="form-field">
      <mat-label>Select Shift</mat-label>
      <mat-select [(value)]="selectedRule" (selectionChange)="onValueChange('none')">
        <mat-option *ngFor="let rule of ruleList" [value]="rule.rule_id">
          {{rule.rule_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Select time frame</mat-label>
      <mat-select [(value)]="selectedTimeFrameForTimelyAnalytics" (selectionChange)="onValueChange('none')" >
        <mat-option *ngFor="let time of timeFramesForTimelyAnalytics" [value]="time.actualValue">
          {{time.displayValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field *ngIf="selectedTimeFrameForTimelyAnalytics == 'custom'">
      <mat-label>Select date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="onValueChange('none')">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Item</mat-label>
      <mat-select [(value)]="selectedItem" (selectionChange)="onValueChange('item')">
        <mat-option *ngFor="let item of itemList" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategory" (selectionChange)="onValueChange('category')">
        <mat-option *ngFor="let category of categoryList" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="text-center">
    <p style="display: inline-block">Graph &nbsp;</p>
    <mat-slide-toggle
      class="example-margin"
      [checked]="tableView"
      (toggleChange)="onToggle($event)"
    >
      Table
    </mat-slide-toggle>
  </div>
  <div class="total-view">
    <b>Total Amount:&nbsp;₹ {{totalAmount}}</b>
    <b>Total Orders: &nbsp;{{totalOrders}}</b>
  </div>


  <div class="view-container">
    <div *ngIf="dataLoadSpinner" class="center-spin">
      <mat-spinner diameter="40" style="margin: 0 auto"></mat-spinner>
    </div>
    <div *ngIf="tableView; else graphView">
      <div class="table-container" #TABLE>
        <table mat-table [dataSource]="dataSource" matSort  (matSortChange)="announceSortChange($event)">
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
          </ng-container>

          <ng-container matColumnDef="total_amount">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Total amount</th>
            <td mat-cell *matCellDef="let element">{{ element.total_amount }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <button mat-raised-button color="primary" (click)="exportAsExcel()">Export as Excel</button>
        <div class="print-analytics">
          <button mat-raised-button [disabled]="!printerConn.usbSought" (click)="printSalesAnalytics()" color="primary">
            Print Report
          </button>
          <small
              class="text-danger"
              style="display: block"
              *ngIf="!printerConn.usbSought"
            >
              Printer not connected</small
            >
        </div>
      </div>
    </div>
    <ng-template #graphView>
      <div class="graph-container">
        <div class="graph">
            <canvas id="canvas4"></canvas>
        </div>
        <div class="graph">
            <canvas id="canvas3"></canvas>
        </div>
      </div>
    </ng-template>
</div>

</div>
