.main-container{
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container{
    display: flex;
    justify-content: center;
    gap: 1em
}

.tab-group-container{
    border-radius: 10px;
    width: 80%;
    height:70vh
}