<div class="main-container">
    <div class="filter-section">
        <mat-form-field>
            <mat-label>Vendor name</mat-label>
            <mat-select  [(value)]="selectedVendor" (selectionChange)="fetchExpenses()">
                <mat-option [value]="defaultVendor" >{{defaultVendor.name}}</mat-option>
                <mat-option *ngFor="let vendor of vendorList" [value]="vendor">{{vendor.name}}</mat-option>
            </mat-select>
        </mat-form-field>
            <mat-radio-group [(ngModel)]="selectedPaidOption" (change)="fetchExpenses()">
                <mat-radio-button [value]="defaultPaidOption" >{{defaultPaidOption.displayValue}}</mat-radio-button>
                <mat-radio-button *ngFor="let paidOption of isPaidOptions" [value]="paidOption">{{paidOption.displayValue}}</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="form-field">
                <mat-label>Select time frame</mat-label>
                <mat-select [(value)]="selectedTimeFrameForExpenses" (selectionChange)="fetchExpenses()" >
                  <mat-option *ngFor="let time of timeFramesForExpenses" [value]="time.actualValue">
                    {{time.displayValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <!-- <mat-select  [(value)]="selectedPaidOption" (selectionChange)="fetchExpenses()">
                <mat-option [value]="defaultPaidOption" >{{defaultPaidOption.displayValue}}</mat-option>
                <mat-option *ngFor="let paidOption of isPaidOptions" [value]="paidOption">{{paidOption.displayValue}}</mat-option>
            </mat-select> -->
            <mat-form-field *ngIf="selectedTimeFrameForExpenses == 'custom'" id="calendarInputField" class="hidden">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input
                    matStartDate
                    (dateChange)="fetchExpenses()"
                    formControlName="start"
                    placeholder="Start date"
                  />
                  <input
                    matEndDate
                    (dateChange)="fetchExpenses()"
                    formControlName="end"
                    placeholder="End date"
                  />
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
          
                <!-- @if (range.controls.start.hasError('matStartDateInvalid')) {
                  <mat-error>Invalid start date</mat-error>
                }
                @if (range.controls.end.hasError('matEndDateInvalid')) {
                  <mat-error>Invalid end date</mat-error>
                } -->
              </mat-form-field>
    </div>

    <div class="view-section">
        <div class="table-wrapper">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th class="col1" scope="col">Id</th>
                        <th class="col2" scope="col">Name</th>
                        <th class="col3" scope="col">Total Amount</th>
                        <th class="col4" scope="col">Amount Paid</th>
                        <th class="col5" scope="col">Balance</th>
                        <th class="col6" scope="col">Date</th>
                        <th class="col7" scope="col">Info</th>
                    </tr>
                </thead>
                <tbody class="text-center" >
                        <tr class="table-row" *ngFor="let expense of expenses; let mainIndex = index">
                            <td class="col1" >{{expense.expense_id}}</td>
                            <td class="col3" >{{expense.vendor_name}}</td>
                            <td class="col3" >{{expense.amount}}</td>
                            <td class="col4" >{{expense.amount_paid}}</td>
                            <td class="col5">{{expense.amount - expense.amount_paid}}</td>
                            <td class="col6" >{{expense.created_at}}</td>
                            <td class="col7" (click)="openEditExpenseDialog(expense)" ><mat-icon>info</mat-icon></td>
                        </tr>
                        <tr style="position: sticky; bottom: 0; font-weight: bold;">
                            <td class="col1" >-</td>
                            <td class="col3" >Total Amount</td>
                            <td class="col3" >{{totalAmount}}</td>
                            <td class="col4" ><button  mat-raised-button color="primary" (click)="markAllExpensePaid()" [disabled]="!selectedVendor.id || selectedPaidOption.displayValue.toLowerCase() == 'paid' || totalAmount == 0"> Mark all paid</button></td>
                            <td class="col5" >-</td> 
                        </tr>
                </tbody>
            </table>           
        </div>
        <div class="action-buttons">
          <mat-paginator #paginator
            class="demo-paginator"
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
          aria-label="Select page">
        </mat-paginator>
          <button mat-raised-button (click)="openAddExpenseDialog()" color="primary">
            Add Expense
          </button>
          <button mat-raised-button (click)="openAddPaymentDialog()" color="primary">
            Add Payment
          </button>
        </div>
        
    </div>
    
</div>