<div class="main-container">
    <div class="filter-section">
        <mat-form-field>
            <mat-label>Vendor name</mat-label>
            <mat-select  [(value)]="selectedVendor" (selectionChange)="fetchExpenses()">
                <mat-option [value]="defaultVendor" >{{defaultVendor.name}}</mat-option>
                <mat-option *ngFor="let vendor of vendorList" [value]="vendor">{{vendor.name}}</mat-option>
            </mat-select>
        </mat-form-field>
            <mat-radio-group [(ngModel)]="selectedPaidOption" (change)="fetchExpenses()">
                <mat-radio-button [value]="defaultPaidOption" >{{defaultPaidOption.displayValue}}</mat-radio-button>
                <mat-radio-button *ngFor="let paidOption of isPaidOptions" [value]="paidOption">{{paidOption.displayValue}}</mat-radio-button>
              </mat-radio-group>
            
            <!-- <mat-select  [(value)]="selectedPaidOption" (selectionChange)="fetchExpenses()">
                <mat-option [value]="defaultPaidOption" >{{defaultPaidOption.displayValue}}</mat-option>
                <mat-option *ngFor="let paidOption of isPaidOptions" [value]="paidOption">{{paidOption.displayValue}}</mat-option>
            </mat-select> -->
    </div>

    <div class="view-section">
        <div class="table-wrapper">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th class="col1" scope="col">Id</th>
                        <th class="col2" scope="col">Name</th>
                        <th class="col3" scope="col">Amount</th>
                        <th class="col4" scope="col">Payment</th>
                        <th class="col5" scope="col">Date</th>
                        <th class="col6" scope="col">Description</th>
                    </tr>
                </thead>
                <tbody class="text-center" >
                        <tr class="table-row" *ngFor="let expense of expenses; let mainIndex = index">
                            <td class="col1" >{{expense.expense_id}}</td>
                            <td class="col3" >{{expense.vendor_name}}</td>
                            <td class="col3" >{{expense.amount}}</td>
                            <td class="col4" >
                                <mat-icon *ngIf="expense.paid">done</mat-icon>
                                <button mat-raised-button color="primary" style="font-size: smaller;" *ngIf="!expense.paid" (click)="markExpensePaid(expense)">Mark Paid</button></td>
                            <td class="col5" >{{expense.created_at}}</td>
                            <td class="col6">{{expense.description}}</td>
                        </tr>
                        <tr style="position: sticky; bottom: 0; font-weight: bold;">
                            <td class="col1" >-</td>
                            <td class="col3" >Total Amount</td>
                            <td class="col3" >{{totalAmount}}</td>
                            <td class="col4" ><button  mat-raised-button color="primary" (click)="markAllExpensePaid()" [disabled]="!selectedVendor.id || selectedPaidOption.displayValue.toLowerCase() == 'paid' || totalAmount == 0"> Mark all paid</button></td>
                            <td class="col5" >-</td> 
                        </tr>
                </tbody>
            </table>           
        </div>
        
        <div>
            <h2 style="text-align: center">Add new expense</h2>
        <form [formGroup]="expensesForm" class="new-expense-form">
            
            <mat-form-field >
                <mat-label>Vendor name</mat-label>
                <mat-select  formControlName="vendor_id">
                  <mat-option *ngFor="let vendor of vendorList" [value]="vendor.id">{{vendor.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="col2">
                <mat-label>Amount</mat-label>
                <input type="number" matInput  placeholder="Vendor name" formControlName="amount">
            </mat-form-field>
    
            <mat-form-field class="col3">
                <mat-label>Paid</mat-label>
                <mat-select  formControlName="paid">
                    <mat-option *ngFor="let paidOption of isPaidOptions" [value]="paidOption.actualValue">{{paidOption.displayValue}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Description</mat-label>
                <input type="text" matInput  placeholder="Add description" formControlName="description">
            </mat-form-field>
            <button mat-raised-button class="col6" color='primary' type="submit" (click)="addExpense()" [disabled]="!expensesForm.valid" class="add-category-button" title="Add a vendor" >Add Expense</button>
        </form>
        </div>
        
    </div>
    
</div>