<header class="main-header">
        <div class="logo-home">
            <a href="/"><img src="assets/images/takemo_logo_transparent.png" alt="takemo-logo"></a>
        </div>
        <div class="navigation">
                <input type="checkbox"
                class="toggle-menu">
                <div class="hamburger"></div>
                <ul class="menu">
                    <li><a href="login/about" routerLinkActive="active">about</a></li>
                    <li><a href="login/contact" routerLinkActive="active">contact</a></li>                
                </ul>
        </div>
</header>
