
<div class="contact-container">
    <div class="greeting-item">
        <h4>Refund/Cancellation Policy</h4>
    </div>
    <div class="compalinace-page">
        <div class="compalinace-content">
            <div class="content-container">
                <p class="updated-date">Last updated on Oct 27th 2023</p>
                <p class="content-text">
                    We support refund or cancellation for Merchants who agrees to have cancellation <br>
                    from users. Right now the merchant can cancel and the refund will happen <br>
                    immediately to the user
                  </p>
            </div>
        </div>
    </div>
</div>