.main-container{
    display: flex;
    height: 85vh;
    justify-content: center;
    background-color: rgba(240, 242, 245, 1);
}
.tab-group-container{
    background-color: white;
    width: 80vw;
}

@media screen and (max-width: 1024px) {
  }
  
  @media screen and (max-width: 768px) {
    .tab-group-container{
        width: 90vw;
    }
  }
  
  @media screen and (max-width: 426px) {
    .tab-group-container{
        width: 95vw;
    }
  }