<div class="main-container">
    <div *ngIf="showSpinner; else elseBlock">
        <div class="center-spin">
            <mat-spinner diameter="100" style="margin: 0 auto"></mat-spinner>
          </div>
    </div>
    <ng-template #elseBlock>
        <div class="flex-container" *ngIf="menu_response.is_open; else resturantClosed">
            <div class="table-container">
                <h2 class="text-center">Menu</h2>
            <cdk-virtual-scroll-viewport itemSize="500" class="viewport" >
                <mat-expansion-panel [expanded]="mainIndex === 0" *ngFor="let category of menu_response.menu; let mainIndex = index">
                    <mat-expansion-panel-header >
                        <mat-panel-title>
                            <b>{{category.category.name}}</b>
                          </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th class="col1" scope="col">Id</th>
                                <th class="col2" scope="col">Item</th>
                                <th class="col3" scope="col">Price</th>
                                <th class="col4" scope="col">Add</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" >
                            <!-- <p style="margin: 0; padding: 5px 0 0 10px; text-align: left;">{{category.category.name}}</p>         -->
                            <tr class="table-row" *ngFor="let item of category.category.items; let subIndex = index">
                                <td class="col1" >{{subIndex+1}}</td>
                                <td class="col2 item-name" >
                                    <img class="indicator-image" *ngIf="item.veg" src="../../../../assets/images/veg_icon.png">
                                    <img class="indicator-image" *ngIf="item.non_veg" src="../../../../assets/images/non_veg_icon.png">
                                    <img class="indicator-image" *ngIf="item.egg" src="../../../../assets/images/egg_icon.jpg">
                                    <p class="item-text">{{item.name}}</p>
                                </td>
                                <td class="col3" >{{item.price}}</td>
                                <td class="col4" >
                                    <div *ngIf="item.is_available; then thenTDblock else tdelseblock"></div>
                                    <ng-template #thenTDblock>
                                        <i class="fa-solid fa-minus" (click)="subItem(item)"></i>
                                        <span class="m-2">{{item.quantity}}</span>
                                        <i class="fa-solid fa-plus" (click)="addItem(item)"></i>
                                    </ng-template>
                                    <ng-template #tdelseblock><span>Unavailable</span></ng-template>
                            </tr>
                        </tbody>
                    </table>
                </mat-expansion-panel>
            </cdk-virtual-scroll-viewport>
                
            </div>
            <div class="order-summary fixed">
                <div class="text-center amount">Total Amount:&nbsp;
                    &nbsp;₹ {{amount}} </div>
                <div class="text-center prepare-summary"><button class="btn btn-primary" (click)="prepareSummary()" [disabled]="!amount">Place Order</button></div>
            </div>
        </div>
        <ng-template #resturantClosed>
            <br>
            <h1 class="text-center">{{menu_response.restaurant_id}} is close at this moment</h1>
        </ng-template>
    </ng-template>
    
    

</div>