<div class="main-container">
    <div class="menu-container">
        <div class="category-bar">
            <div class="category-button" *ngFor="let category of menu">
                <ul>
                    <li class="category-bar-items {{category['category']['name'].replace(' ', '')}}" (click)="categoryClickEventHandler(category['category']['name'])">{{category.category.name}}</li>
                </ul>
            </div>
        </div>
        <div class="item-bar">
            <ng-container *ngFor="let category of menu">
                <div id="{{category.category.name.replace(' ', '')}}" class="category-wrapper hidden">
                    <div class="item" *ngFor="let item of category.category.items">
                        <div class="item-card">
                            <div class="item-name">
                                <p style="margin: 0;">{{item.name}}</p>
                                <p style="margin: 0;">&nbsp;₹&nbsp;{{item.price}}</p>
                            </div>
                            <div class="item-quantity">
                                <div class="icon-wrapper"  (click)="subItem(item)">
                                    <i class="fa-solid fa-minus"  ></i>
                                </div>
                                <div style="padding: 2px;">
                                    {{item.quantity}}
                                </div>
                                <div class="icon-wrapper" (click)="addItem(item)">
                                    <i class="fa-solid fa-plus" ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="summary-wrapper">
        <div class="summary-end">
            <div class="amount-summary">
                <h2 style="font-weight: bold; padding-bottom: 3px; margin: 0;">Total Amount:&nbsp;₹&nbsp;{{summary.amount}}</h2>
            </div>
            <div class="action-section">
                <button mat-raised-button (click)="clearSummary()">Clear</button>
                <button mat-raised-button (click)="prepareSummary()" [disabled]="summary.amount == 0" color="primary">Place</button>
            </div>  
        </div>
    </div>
</div>

