.main-container {
  width: 100%;
  height: 90vh;
  background: rgba(240, 242, 245, 1);
}

.table {
  border-radius: 20px;
}

table {
  border-radius: 10px;
}

td {
  border-radius: 10px;
}

.sub-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

/* .flex-container {
  padding-top: 2%;
  display: flex;
  height: inherit;
  justify-content: center;
  gap: 1em;
  align-items: center;
  flex-direction: column;
} */

.fixed {
  position: sticky;
}

.viewport {
  height: 70vh;
}

/* .table-container {
  border-radius: 10px;
  width: 60vw;
} */

.order-summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-bottom: 2em;
}

.selection-panel{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.prepare-summary {
  padding-right: 2em;
}

.col1,
.col2,
.col3,
.col4 th {
  border-right: dashed black 1px;
}

th {
  background-color: rgb(148, 189, 250);
}

.col1 {
  width: 10%;
}

.col2 {
  width: 30%;
  padding: 0.5em 0 0 0;
}

p {
  margin: 0;
}

.col3 {
  width: 20%;
}

.col4 {
  width: 20%;
  padding: 0.5em 0 0 0;
}

.item-text {
  display: inline-block;
  text-wrap: wrap;
}

.indicator-image {
  width: 25px;
  height: auto;
  display: inline;
}

.category-bar{
  position: fixed;
  right: 0;
  margin: 0.5em;
  border: 1px solid ;
  width: max-content;
  overflow: auto;
  z-index: 5;
  background-color: aliceblue;
  border-radius: 5px;
  height: 60vh;
}

.category-wrapper{
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.category-button ul{
  margin: 0;
  padding: 0;
}

.category-button li{
  list-style-type: none;
  margin: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  /* font-weight: bold; */
  background-color: blanchedalmond;
  border-radius: 5px;
  text-align: center;
}

.item-bar{
  margin: 0.5em;
  border: 1px solid ;
  width: 100%;
  overflow: auto;
  height: 67vh;
}

.item-card{
  border: 1px solid black;
  border-radius: 5px;
  width: 9em;
  height: 7em;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.item-type{
  width: 5px;
}

.item-name{
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
  overflow: auto;
}

.item-quantity{
  display: flex;
  justify-content: space-evenly;
  align-items: center;   
}

.item-type{
  width: 6px;
}

.menu-container{
  height: 90%;
  display: flex;
  flex-direction: column;
}

.toggle-category-button{
  position: fixed;
  bottom: 20vh;
  right: 6vw;
  align-self: last baseline;
}

.hidden{
  padding: 0;
}
.hidden > div{
  display: none;
}

.show > div{
  display: block;
}

.category-button li:hover{
  padding: 0.3em 1em 0.7em 1em;
}
.active{
  font-weight: bold;
}

:host ::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper{
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .table-container {
    border-radius: 10px;
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .table-container {
    border-radius: 10px;
    width: 60vw;
  }
}

@media screen and (max-width: 526px) {
  .table-container {
    border-radius: 10px;
    width: 95vw;
  }
  .indicator-image {
    width: 25px;
    padding-right: 5px;
    height: auto;
    display: inline;
  }
  .viewport {
    height: 60vh;
  }
}

::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: rgb(217, 217, 246);
  border-radius: 10px;
}
