<div>
    <h1 mat-dialog-title> Please fill the form</h1>
    <div mat-dialog-content>
        <form [formGroup]="customerDetailsForm">
            <mat-form-field>
                <mat-label>Customer Name</mat-label>
                <input matInput placeholder="Customer Name" formControlName="customer_name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Transaction id</mat-label>
                <input matInput placeholder="Transaction id" maxlength="6" formControlName="transaction_id">
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="closeDialog()">Close</button>
        <button mat-raised-button color="primary" (click)="placeOrder()" [disabled]="!customerDetailsForm.valid || disablePlace">Place</button>
    </div>
</div>