<div class="main-container">
    <h1 mat-dialog-title>Are you sure want to cancel order??</h1>
    <div mat-dialog-content>
        <h2>Order amount:  {{data.total_amount}} will be credited to user</h2>
        <h3>Order details: {{data.order_detail}}</h3>
        <h3>Order No: {{data.orderno}}</h3>
        <h3>Order Id: {{data.order_id}}</h3>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="cancel()">Submit</button>
    </div>
</div>