.main-container{
    width: 100%;
    min-height: 85vh;
    max-height: max-content;
}

table{
    padding: 1em;
    width: 100%;
}

.table-container {
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-mdc-footer-row {
    font-weight: bold;
  }
  
  .mat-mdc-table-sticky {
    border-top: 1px solid #e0e0e0;
  }

th, td{
    text-align: center;
}

@media screen and (max-width: 430px)  {
    th, td{
        padding: 6px;
        font-size: small;
    }
}