.main-container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actual-container{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 1em;
    border: 0.5px solid black;
    border-radius: 2em;
}

.details{
    display: flex;
    gap: 2em;
}

.person{
    display: flex;
    width: 100%;
    margin: 1em;
    flex-direction: column;
}

.person h3{
    margin: 0;
}


@media screen and (max-width: 520px) {
    .details{
        flex-direction: column;
    }
}
