<div class="main-container">
    <form [formGroup]="addRuleForm" (ngSubmit)="addRule()">
        <h1 mat-dialog-title>Add this rule</h1>
        <div mat-dialog-content>
            <div>
                <mat-form-field class="form-field">
                    <mat-label>Rule Name</mat-label>
                    <input matInput placeholder="Rule Name" formControlName="name">
                </mat-form-field>
                <mat-form-field  class="form-field">
                    <mat-label>Start time</mat-label>
                    <input matInput [ngxMatTimepicker]="picker" placeholder="Start time" formControlName="start_time">
                    <ngx-mat-timepicker #picker></ngx-mat-timepicker>  
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>End time</mat-label>
                    <input matInput [ngxMatTimepicker]="picker2" placeholder="End time" formControlName="end_time">
                    <ngx-mat-timepicker #picker2></ngx-mat-timepicker>  
                </mat-form-field>
                <mat-form-field  class="form-field">
                    <mat-label>Max Amount</mat-label>
                    <input matInput placeholder="Max Amount" formControlName="max_amount_per_shift">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action-container">
            <button mat-raised-button (click)="closeDialog()"> Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>

    </form>
</div>