<div class="main-container">
    <mat-tab-group animationDuration="500ms">
        <mat-tab label="Timely Analytics">
            <mat-form-field>
                <mat-label>Select time frame</mat-label>
                <mat-select [(value)]="selectedTimeFrameForTimelyAnalytics">
                  <mat-option *ngFor="let time of timeFramesForTimelyAnalytics" [value]="time">
                    {{time}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select [(value)]="selectedCategory">
                  <mat-option *ngFor="let category of categoryList" [value]="category">
                    {{category.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select time frame</mat-label>
                <mat-select [(value)]="selectedItem">
                  <mat-option *ngFor="let category of categoryList" [value]="category">
                    {{category.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="graph-container">
                <div class="graph">
                    <canvas id="canvas4"></canvas>
                </div>
                <div class="graph">
                    <canvas id="canvas3"></canvas>
                </div>
            </div>
            <div class="graph-container">
                <div class="graph">
                    <canvas id="canvas1"></canvas>
                </div>
                <div class="graph">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </mat-tab>
        
        <mat-tab label="Sales Analytics">
            <ng-template matTabContent>
            Content 1 - Loaded:
                <mat-form-field>
                    <mat-label>Select time frame</mat-label>
                    <mat-select [(value)]="selectedTimeFrame">
                      <mat-option *ngFor="let time of timeFrames" [value]="time">
                        {{time}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="selectedGroup">
                    <mat-radio-button class="example-radio-button" *ngFor="let group of groupList" [value]="group.actualValue">
                        {{group.displayValue}}
                    </mat-radio-button>
                    </mat-radio-group>
                <div class="graph-container">
                    <div class="graph">
                        <canvas id="canvas1"></canvas>
                    </div>
                    <div class="graph">
                        <canvas id="canvas2"></canvas>
                    </div>
                </div>
                
            </ng-template>            
        </mat-tab>
        <mat-tab label="First">
            <ng-template matTabContent>
                <div class="graph-container">
                    <div class="graph">
                        <canvas id="canvas1"></canvas>
                    </div>
                    <div class="graph">
                        <canvas id="canvas2"></canvas>
                    </div>
                </div> 
            </ng-template>
        </mat-tab>
        
    </mat-tab-group>
</div>