<div class="main-container">
  <div *ngIf="!loadView" class="center-spin">
    <mat-spinner diameter="40" style="margin: 0 auto"></mat-spinner>
  </div>
  <div *ngIf="loadView" class="input-container">
    <mat-form-field class="form-field">
      <mat-label>Select time frame</mat-label>
      <mat-select
        [(value)]="selectedTimeFrame"
        (selectionChange)="onValueChange()"
      >
        <mat-option *ngFor="let time of timeFrames" [value]="time.actualValue">
          {{ time.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field id="calendarInputField" class="hidden">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input
          matStartDate
          (dateChange)="onValueChange()"
          formControlName="start"
          placeholder="Start date"
        />
        <input
          matEndDate
          (dateChange)="onValueChange()"
          formControlName="end"
          placeholder="End date"
        />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field *ngIf="counters.length > 0">
      <mat-label>Counter Name</mat-label>
      <mat-select
        (selectionChange)="onValueChange()"
        [(value)]="selectedCounterId"
      >
        <mat-option>None</mat-option>
        <mat-option
          *ngFor="let option of counters"
          [value]="option.counter_id"
          >{{ option.counter_name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" *ngIf="!restaurantFlag">
      <mat-label>Select Restaurant</mat-label>
      <mat-select
        [(value)]="selectedRestaurant"
        (selectionChange)="onValueChange()"
      >
        <mat-option
          *ngFor="let time of restaurantList"
          [value]="time.restaurant_id"
        >
          {{ time.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field" *ngIf="hasOrderTypes">
      <mat-label>Select Order state</mat-label>
      <mat-select
        [(value)]="selectedOrderStatus"
        (selectionChange)="onValueChange()"
      >
        <mat-option
          *ngFor="let orderType of orderTypes"
          [value]="orderType.actualValue"
        >
          {{ orderType.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="isITTUser" class="form-field">
      <mat-label>Select Shift</mat-label>
      <mat-select [(value)]="selectedRule" (selectionChange)="onValueChange()">
        <mat-option *ngFor="let rule of ruleList" [value]="rule.rule_id_list">
          {{ rule.rule_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isRaviGobiUser" class="form-field">
      <mat-label>Payment method</mat-label>
      <mat-select
        [(value)]="selectPaymentMethod"
        (selectionChange)="onValueChange()"
      >
        <mat-option
          *ngFor="let method of paymentMethods"
          [value]="method.codedList"
        >
          {{ method.displayValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="selectedGroup"
      (change)="onValueChange()"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let group of groupList"
        [value]="group.actualValue"
      >
        {{ group.displayValue }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="text-center">
    <p style="display: inline-block">Graph &nbsp;</p>
    <mat-slide-toggle
      class="example-margin"
      [checked]="tableView"
      (toggleChange)="onToggle($event)"
    >
      Table
    </mat-slide-toggle>
  </div>
  <div class="total-view">
    <b>Total Quantity: {{ totalOrders }}</b>
    <b>Total Amount:&nbsp;₹&nbsp;{{ totalAmount }}</b>
  </div>


  <div class="view-container">
    <div *ngIf="dataLoadSpinner" class="center-spin">
      <mat-spinner diameter="40" style="margin: 0 auto"></mat-spinner>
    </div>
      <div *ngIf="tableView; else graphView">
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
            <ng-container matColumnDef="sl_no">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell [ngClass]="{'text-bold': ((i == 0 )&& (selectedGroup == 'All')) }" *matCellDef="let element; let i=index">{{ i + 1 }}</td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell [ngClass]="{'text-bold': ((i == 0 )&& (selectedGroup == 'All'))  }" *matCellDef="let element; let i=index">{{ stringUtils.titleCase(element.name) }}</td>
            </ng-container>
  
            <ng-container matColumnDef="quantity">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Quantity</th>
              <td mat-cell [ngClass]="{'text-bold': ((i == 0 )&& (selectedGroup == 'All')) }" *matCellDef="let element; let i=index" >{{ element.quantity }}</td>
            </ng-container>
  
            <ng-container matColumnDef="total_amount">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>Total Amount</th>
              <td mat-cell [ngClass]="{'text-bold': ((i == 0 )&& (selectedGroup == 'All')) }" *matCellDef="let element; let i=index">
                &nbsp;₹&nbsp;{{ element.total_amount }}
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
  
          <div>
            <button mat-raised-button (click)="printSalesAnalytics()" color="primary">
              Print Report
            </button>
            <!-- <button mat-raised-button (click)="openSendEmailDialogBox()" color="primary">
              Send email report
            </button> -->
          </div>
        </div>
  
      </div>
      <ng-template #graphView>
        <div class="graph-container">
          <div class="graph">
            <canvas id="canvas2"></canvas>
          </div>
          <div class="graph">
            <canvas id="canvas1"></canvas>
          </div>
        </div>
      </ng-template>

  </div>
  <div class="unsold-view-section">
    <button mat-raised-button color="primary" matBadge="{{(unsold.length > 0)? unsold.length : 0}}" matBadgeSize="medium" [matMenuTriggerFor]="menu" >Unsold </button>
    <mat-menu #menu="matMenu">
    <ng-container *ngFor="let name of unsold">
        <p  style="padding-left: 1em">{{name}}</p>
    </ng-container>
</mat-menu>
  </div>

</div>
