<div class="main-container">
    <div class="title-container">
        <h1 mat-dialog-title> {{data.table_name}}</h1>
        <h1 mat-dialog-title>OTP {{data.otp}}</h1>
    </div>
    <div mat-dialog-content>
        <div mat-dialog-actions class="action-container">
            <button *ngIf="printerConn.usbSought" mat-raised-button color="primary" [disabled]="!(data.is_occupied && hasOrderedItems)" (click)="requestPrintBill()">Print bill</button>
            <button *ngIf="printerConn.usbSought" mat-raised-button color="primary"  [disabled]="!(data.is_occupied && hasOrderedItems)" (click)="waiterKOTPrint()">Check KOT</button>
            <button *ngIf="printerConn.usbSought" mat-raised-button color="primary" [disabled]="!(data.is_occupied && isBillPrinted)" (click)="markPaymentDone()">Payment done</button>
            <button mat-raised-button color="primary" [disabled]="!hasOrderedItems || data.bill_printed" (click)="enableOrderEdit()">Edit order</button>
            <button mat-raised-button color="primary" [disabled]="isBillPrinted" (click)="posOrder()" >POS order</button>
            <button mat-raised-button color="primary" [disabled]="isBillPrinted" (click)="moveItemsBetweenTables()" >Move</button>
        </div>
        <table class="table-order-container">
            <thead>
                <tr>
                    <th class="sl_no">Sl.no</th>
                    <th class="item">Item</th>
                    <th class="price">Price</th>
                    <th >Quantity</th>
                    <th class="total_price">{{taxInclusive? "Amount": "&nbsp;&nbsp;&nbsp;&nbsp;Amt | GST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" }} </th>
                    <th class="delete" *ngIf="isEditEnabled">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders; let main_index=index">
                    <td class="sl_no">{{main_index + 1}}</td>
                    <td class="item">{{order.item_name}}</td>
                    <td class="price">{{order.price}}</td>
                    <td class="quantity">
                        <mat-icon (click)="subItem(order)" *ngIf="isEditEnabled">remove_circle</mat-icon>
                        {{order.quantity}}
                        <!-- <mat-icon (click)="addItem(order)">add_circle</mat-icon> -->
                    </td>
                    <td class="total_price">₹&nbsp;{{order.line_item_price.toFixed(1)}}{{taxInclusive? '': " | ₹&nbsp;" +calculateItemGST(order).toFixed(1)}}</td>
                    <td class="delete" *ngIf="isEditEnabled">
                        <mat-icon (click)="deleteItem(order)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Total Amount: ₹&nbsp;{{totalAmountWithoutGst}} | ₹&nbsp;{{totalAmountWithGst}}</h2>
    </div>
</div>
