<div class="main-container">
    <div class="title-container">
        <h1 mat-dialog-title> {{data.table_name}}</h1>
        <h1 mat-dialog-title>OTP {{data.otp}}</h1>
    </div>
    <div mat-dialog-content>
        <div mat-dialog-actions class="action-container">
            <button mat-raised-button color="primary" (click)="printBill()">Print bill</button>
            <button mat-raised-button color="primary" (click)="markPaymentDone()">Payment done</button>
            <button mat-raised-button color="primary" (click)="posOrder()" >POS order</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="sl_no">Sl.no</th>
                    <th class="item">Item</th>
                    <th class="price">Price</th>
                    <th class="quantity">Quantity</th>
                    <th class="total_price">Total price</th>
                    <th class="edit">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders; let main_index=index">
                    <td class="sl_no">{{main_index + 1}}</td>
                    <td class="item">{{order.item_name}}</td>
                    <th class="price">{{order.item_price}}</th>
                    <td class="quantity">{{order.quantity}}</td>
                    <th class="total_price">{{order.line_item_price}}</th>
                    <td class="edit">
                        <mat-icon>create</mat-icon>
                    </td>
                </tr>
                <tr>
                    <td class="sl_no">-</td>
                    <td class="item">-</td>
                    <th class="price">-</th>
                    <td class="quantity">-</td>
                    <th class="total_price">{{totalPrice}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
