table{
    width: 100%;
    text-align: center;
}

th.sl_no, td.sl_no{
    width: 10%;
}

th.item, td.item{
    width: 50%;
}

th.edit, td.edit{
    width: 30%;
}

th.edit, td.edit{
    width: 10%;
}

.total_price{
    text-align: center;
}
.quantity{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.action-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.title-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.order-summary{
    text-align: right;
}

.discount-selection mat-form-field{
    width: 10em;
}

.discount-info h3{
    margin: 0;
    padding: 0;
    line-height: 15px;
}

.title-container h1{
    margin: 0;
}

.table-order-container th{
    border: 1px solid;
}
.table-order-container td {
    border: 1px solid;
    /* border-right: 1px solid; */
}

 table tr:hover{
    background-color: rgb(231, 231, 231);
}

.table-order-container  tr:last-child{
    border-bottom: 1px solid;
}

