<div class="main-container">
    <div class="navigation">
        <button mat-raised-button (click)="navigateToEditMenu()" color="primary">Edit Menu</button>
        <button mat-raised-button (click)="navigateToPendingOrders()" color="primary">Pending Orders</button>
    </div>
    <div class="menu-container">
        <div class="category-bar">
            <div class="category-button" *ngFor="let category of menu">
                <ul>
                    <li class="category-bar-items {{category['category']['name'].replace(' ', '')}}" (click)="categoryClickEventHandler(category['category']['name'])">{{category.category.name}}</li>
                </ul>
            </div>
        </div>
        <div class="item-bar">
            <ng-container *ngFor="let category of menu">
                <div id="{{category.category.name.replace(' ', '')}}" class="category-wrapper hidden">
                    <div class="item" *ngFor="let item of category.category.items">
                        <div class="item-card">
                            <div class="item-name">
                                <p>{{item.name}}</p>
                            </div>
                            <div class="item-quantity">
                                <div>
                                    <i class="fa-solid fa-minus" (click)="subItem(item)"></i>
                                </div>
                                <div>
                                    {{item.quantity}}
                                </div>
                                <div>
                                    <i class="fa-solid fa-plus" (click)="addItem(item)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="summary-bar">
            <div class="table-section">
                <table  class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of summary.itemList">
                            <td>{{item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>&nbsp;₹&nbsp;{{item.price}}</td>
                            <td>&nbsp;₹&nbsp; {{item.quantity * item.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="summary-end">
                <div class="amount-summary">
                    <h2 style="font-weight: bold;">Total Amount:&nbsp;₹&nbsp;{{summary.amount}}</h2>
                </div>
                <div class="action-section">
                    <button mat-raised-button (click)="clearSummary()">Clear</button>
                    <button mat-raised-button (click)="placeOrder()" [disabled]="summary.amount == 0" color="primary">Place</button>
                </div>  
            </div>
            
        </div>    
    </div>
    
</div>