<div class="main-container">
    <div class="navigation">
        <button mat-raised-button (click)="navigateToEditMenu()" color="primary">Edit Menu</button>
        <button mat-raised-button (click)="navigateToPendingOrders()" color="primary">Pending Orders</button>
    </div>
    <div class="menu-container">
        <div class="category-bar">
            <div class="category-button" *ngFor="let category of menu">
                <ul>
                    <li class="fs-5 category-bar-items {{category['category']['name'].replace(' ', '')}}" (click)="categoryClickEventHandler(category['category']['name'])">{{category.category.name}}</li>
                </ul>
            </div>
        </div>
        <div class="item-bar">
            <ng-container *ngFor="let category of menu">
                <div id="{{category.category.name.replace(' ', '')}}" class="category-wrapper hidden">
                    <div class="item" *ngFor="let item of category.category.items">
                        <div class="item-card" (click)="addItem(item)">
                            <div class="item-name">
                                <p class="p-1 fs-3">
                                    <img class="indicator-image" *ngIf="item.veg" src="../../../../assets/images/veg_icon.png">
                                    <img class="indicator-image" *ngIf="item.non_veg" src="../../../../assets/images/non_veg_icon.png">
                                    <img class="indicator-image" *ngIf="item.egg" src="../../../../assets/images/egg_icon.jpg">{{item.name}}</p>
                                <p class="m-1 fs-4">&nbsp;₹&nbsp;{{item.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="summary-bar">
            <div class="table-section">
                <h2 class="text-center" style="font-size: bold;">Summary</h2>
                <table  class="table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Clear</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of summary.itemList">
                            <td>{{item.name}}</td>
                            <td style="width: 40%;">
                                <div class="item-quantity">
                                    <!-- <input type="number" min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="width: 3em;" (change)="updateTotalAmount()" [(ngModel)]="item.quantity"> -->
                                    <div class="icon-wrapper"  (click)="subItem(item)">
                                        <i class="fa-solid fa-minus"  ></i>
                                    </div>
                                    <div style="padding: 2px;">
                                        {{item.quantity}}
                                    </div>
                                    <div class="icon-wrapper" (click)="addItem(item)">
                                        <i class="fa-solid fa-plus" ></i>
                                    </div>
                                </div>
                                <p (click)="incrementParcelQuantity(item)" style="text-decoration: underline; margin: 0;">Create Parcel</p>
                                <div class="item-quantity" *ngIf="item.parcelQuantity">
                                    <div class="icon-wrapper"  (click)="subParcelItem(item)">
                                        <i class="fa-solid fa-minus"  ></i>
                                    </div>
                                    <div style="padding: 2px;">
                                        {{item.parcelQuantity}}
                                    </div>
                                    <div class="icon-wrapper" (click)="addParcelItem(item)">
                                        <i class="fa-solid fa-plus" ></i>
                                    </div>
                                </div>
                                <p *ngIf="item.parcelQuantity"><b>{{item.parcelQuantity}}</b> Parcel | <b>{{item.quantity}}</b> Dine-in </p>
                            </td>    
                            <td>&nbsp;₹&nbsp;{{item.price}}</td>
                            <td>&nbsp;₹&nbsp; {{calculateItemAmount(item)}}</td>
                            <td>
                                <div (click)="clearItem(item)" class="icon-wrapper">
                                    X
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="summary-end">
                <div class="amount-summary">
                    <h2 style="font-weight: bold;">Total Amount:&nbsp;₹&nbsp;{{summary.amount}}</h2>
                    <section class="example-section">
                        <mat-radio-group class="smallRadio" [(ngModel)]="modeOfPayment">
                            <mat-radio-button class="example-margin" value="cash">Cash</mat-radio-button>
                            <mat-radio-button class="example-margin" value="online">Online</mat-radio-button>
                          </mat-radio-group>
                    </section>
                </div>
                <div class="action-section">
                    <button mat-raised-button (click)="clearSummary()">Clear</button>
                    <button mat-raised-button (click)="placeOrder()" [disabled]="summary.amount == 0" color="primary">Place</button>
                </div>  
            </div>
            
        </div>    
    </div>
    
</div>