.viewport {
    height: 480px;
}

.cards-wrapper{
    display: flex;
    gap: 1em;
    overflow: auto;
    flex-wrap: wrap;
}
.deliver-card{
    display: flex;
    width: 7em;
    height: 5em;
    border: solid 1px rgb(65, 104, 244, 0.8);
    border-radius: 5px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.indicator{
    display: inline-block;
    width: 1em; 
    height: 1em;
    margin-left: 10px;
}

.blue{
    background-color: rgb(65, 104, 244, 0.8);
}

.green{
    background-color: rgb(9, 166, 88);
}

.wooden {
    background-color: rgb(147, 137, 2);
}

.col1, .col2{
    width: 100px;

}

.table{
    width: 200px;
}

.mat-deliver{
    background-color: rgb(9, 166, 88);
}
::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 246);
    border-radius: 10px;
}