<div class="main-container">
    <h1 style="display: inline-block;" mat-dialog-title>{{data.name}}</h1>
    <div class="indicator green"></div><p style="display: inline-block;" >Parcel</p>
    <div class="indicator wooden "></div><p style="display: inline-block;">Table order</p>
    <mat-dialog-content>
        <div class="cards-wrapper">
            <div class="deliver-card" [ngClass]="{'wooden': order.table_name,'blue': !(order.is_delivered || order.parcel), 'green': !order.is_delivered && order.parcel}" *ngFor="let order of data.obj; let subIndex = index" (click)="updateStatusToDelivered(order)">
                <p class="fs-2" >{{order.table_name? order.table_name: order.order_no}}</p>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="deliverAllOrders()">Deliver All</button>
    </mat-dialog-actions>
</div>