.main-container {
  width: 100%;
  height: 88vh;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-box {
  border: solid 3px black;
  border-radius: 10px;
  width: 80%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.card-box {
  background-color: rgb(65, 104, 244, 0.8);
  border: solid 2px black;
  margin: 10px;
  padding: 10px;
  height: 10em;
  cursor: pointer;
  width: 10em;
  border-radius: 5px;
}

@media screen and (max-width: 526px) {


  .main-box {
    width: 95%;
    height: 80vh;
    overflow: scroll;
  }
}
