<div class="main-container">
    <div class="main-box">
        <div class="content-box" *ngIf="orderList.length > 0; else NoPendingOrderBlock">
            <ng-container *ngFor="let item of orderList">
                <button class="card-box" (click)="itemClicked(item)">
                    <h2 style="font-size: xx-large;" class="text-center text-white">{{item.quantity}}</h2>
                    <h1 class="text-center text-white">{{item.name}}</h1>
                </button>
            </ng-container>
        </div>
        <ng-template #NoPendingOrderBlock>
            <h1 class="text-center" style="width: 100%;">No pending orders</h1>
        </ng-template>
    </div>
</div>