<div class="main-container">
    <div class="navigation">
        <button mat-raised-button (click)="navigateToOrders()" color="primary">Orders</button>
        <div *ngIf="!menu; else elseBlock">
            <div class="center-spin">
                <mat-spinner diameter="100" style="margin: 0 auto"></mat-spinner>
              </div>
        </div>
        <ng-template #elseBlock>
            <div *ngIf="mobileOrderingEnabled" class="nav-center-section">
                <mat-slide-toggle [ngModel]='restaurantStatus' color="primary" (change)="toggleRestOpen()"></mat-slide-toggle>
                <h4 class="text-center m-0">Outlet is {{ restaurantStatus? 'open': 'closed'}}</h4>
            </div>
        </ng-template>
        <button *ngIf="isPOSEnabled" mat-raised-button (click)="navigateToPOS()" color="primary">POS</button>
    </div>
    <div class="menu-action-bar">
        <button mat-raised-button color='primary' class="add-category-button" title="Add a new category" svgIcon="plus" (click)="addCategory()">
            Add category
        </button>
        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="searchText != ''" class="add-item-button" svgIcon="plus" (click)="addItem()">Add new Item {{selectedCategory[0].categoryName}}</button>
            <button mat-flat-button [disabled]="searchText != ''" (click)="editCategory(selectedCategory[0])">Edit {{selectedCategory[0].categoryName}}</button>
        </div>
        <mat-form-field >
            <mat-label>Search item</mat-label>
            <input matInput placeholder="search item" [(ngModel)]="searchText" (keyup)="filterItems()">
        </mat-form-field>
    </div>

    <div *ngIf="menu" class="menu-container">
        <div class="category-bar">
            <mat-selection-list  [multiple]="false" [hideSingleSelectionIndicator]="true">
                <ng-container *ngFor="let category of allCategories;">
                    <mat-checkbox [checked]="selectedCategory.includes(category)" (change)="onCategorySelection(category);"> 
                        <mat-label [ngClass]="{'bold': selectedCategory.includes(category)}" >{{category.categoryName}}</mat-label> 
                    </mat-checkbox>
                    <!-- <mat-list-option [selected]="selectedCategory.includes(category)" (selectedChange)="onCategorySelection(category)"><span [ngClass]="{'bold': selectedCategory.includes(category)}" >{{category.categoryName}}</span></mat-list-option> -->
                </ng-container>
            </mat-selection-list>
        </div>
        <div class="items-section">
            <table mat-table [dataSource]="dataSource" class="table table-hover">

                <ng-container matColumnDef="id">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let index=index"> {{index + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="item">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let element"> 
                        <img class="indicator-image" *ngIf="element.veg" src="../../../../assets/images/veg_icon.png">
                        <img class="indicator-image" *ngIf="element.non_veg" src="../../../../assets/images/non_veg_icon.png">
                        <img class="indicator-image" *ngIf="element.egg" src="../../../../assets/images/egg_icon.jpg">
                        <p class="item-text">{{element.name}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="available">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Available </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-slide-toggle color="primary" [ngModel]='element.is_available' (change)="toggleAvailability(element)"></mat-slide-toggle>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="favorite">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Favorite </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-slide-toggle color="primary" [ngModel]='element.is_favourite' (change)="toggleFavorite(element)"></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="inventory">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Inventory </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.inventory_stock? element.inventory_stock: '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="counter">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Counter </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.counter.counter_name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-icon svgIcon="edit" title="Edit this item" (click)="editItem(element)"></mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-icon svgIcon="delete" title="Delete this item" (click)="deleteItem(element)"></mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row class="sticky-header" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

    <!-- <div *ngIf="menu" class="menu-container">
        <div class="text-center">

            <mat-form-field>
                <mat-label>Select category</mat-label>
                <mat-select (selectionChange)="showCategory()" [(value)]="selectedCategoryId">
                  <mat-option  *ngFor="let category of allCategories" [value]="category.categoryId">{{category.categoryName}}</mat-option>
                </mat-select>
              </mat-form-field>
              
            <cdk-virtual-scroll-viewport itemSize="500" class="viewport" >
                    <mat-expansion-panel [expanded]='true' class="expansion-panel" *ngFor="let category of visibleCategory; let mainIndex = index">
                        <mat-expansion-panel-header >
                            <mat-panel-title>
                                <b style="font-size: x-large;">{{category.category.name}}</b>
                            </mat-panel-title>
                            <div>
                                <mat-slide-toggle *ngIf="mobileOrderingEnabled" class="category-toggle" color="primary" [ngModel]='!category.category.hide_category' (change)="toggleCategoryAvailability(category)"></mat-slide-toggle>
                                <mat-icon style="margin: 10px 4em 0 0;" title="Delete this category" svgIcon="delete" (click)="deleteCategory(category)"></mat-icon>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="text-center">
                            <button mat-raised-button color="primary" [disabled]="!category.category.id" class="add-item-button" svgIcon="plus" (click)="addItem()">Add new Item to {{category.category.name}}</button>
                        </div>

                    </mat-expansion-panel>
            </cdk-virtual-scroll-viewport>
        </div> 
    </div>   -->
</div>