<div class="main-container">
    <div class="navigation">
        <button mat-raised-button (click)="navigateToOrders()" color="primary">Orders</button>
        <button mat-raised-button (click)="navigateToPOS()" color="primary">POS</button>
    </div>
    <div *ngIf="!menu; else elseBlock">
        <div class="center-spin">
            <mat-spinner diameter="100" style="margin: 0 auto"></mat-spinner>
          </div>
    </div>
    <ng-template #elseBlock>
        <mat-slide-toggle [ngModel]='restaurantStatus' color="primary" (change)="toggleRestOpen()"></mat-slide-toggle>
    <div class="menu-container">
        <h4 class="text-center">Outlet is {{ restaurantStatus? 'open': 'closed'}}</h4>
        <h2 class="text-center">Edit menu</h2>
        <div class="text-center">
            <button mat-raised-button color='primary' class="add-category-button" title="Add a new category" svgIcon="plus" (click)="addCategory()">Add new category</button>
            <mat-form-field>
                <mat-label>Select category</mat-label>
                <mat-select (selectionChange)="showCategory(selectedCategoryId)" [(value)]="selectedCategoryId">
                  <mat-option  *ngFor="let category of allCategories" [value]="category.categoryId">{{category.categoryName}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Search item</mat-label>
                <input matInput placeholder="search item" [(ngModel)]="searchText" (keyup)="filterItems()">
              </mat-form-field>
            <cdk-virtual-scroll-viewport itemSize="500" class="viewport" >
                    <mat-expansion-panel [expanded]='true' class="expansion-panel" *ngFor="let category of visibleCategory; let mainIndex = index">
                        <mat-expansion-panel-header >
                            <mat-panel-title>
                                <b style="font-size: x-large;">{{category.category.name}}</b>
                            </mat-panel-title>
                            <div>
                                <mat-slide-toggle class="category-toggle" color="primary" [ngModel]='!category.category.hide_category' (change)="toggleCategoryAvailability(category)"></mat-slide-toggle>
                                <mat-icon style="margin: 10px 4em 0 0;" title="Delete this category" svgIcon="delete" (click)="deleteCategory(category)"></mat-icon>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="text-center">
                            <button mat-raised-button color="primary" [disabled]="!category.category.id" class="add-item-button" svgIcon="plus" (click)="addItem(category)">Add new Item to {{category.category.name}}</button>
                        </div>
                        <table class="table table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th class="col1" scope="col">Id</th>
                                    <th class="col2" scope="col">Item</th>
                                    <!-- <th class="col3" scope="col">Price</th> -->
                                    <th class="col4" scope="col">Availabe</th>
                                    <!-- <th *ngIf="inventoryManagement">Inventory</th> -->
                                    <th *ngIf="isType('restaurant')" class="col4" scope="col">Favorite</th>
                                    <!-- <th *ngIf="counterMangement">Counter</th> -->
                                    <th class="col5" scope="col">Edit</th>
                                    <th class="col6" scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody class="text-center" >
                                <!-- <p style="margin: 0; padding: 5px 0 0 10px; text-align: left;">{{category.category.name}}</p>         -->
                                <tr class="table-row" *ngFor="let item of category.category.items; let subIndex = index">
                                    <td class="col1" >{{subIndex+1}}</td>
                                    <td class="col2" >
                                        <img class="indicator-image" *ngIf="item.veg" src="../../../../assets/images/veg_icon.png">
                                        <img class="indicator-image" *ngIf="item.non_veg" src="../../../../assets/images/non_veg_icon.png">
                                        <img class="indicator-image" *ngIf="item.egg" src="../../../../assets/images/egg_icon.jpg">
                                        <p class="item-text">{{item.name}}</p>
                                    </td>
                                    <!-- <td class="col3" >₹ {{item.price}}</td> -->
                                    <td class="col4">
                                        <mat-slide-toggle color="primary" [ngModel]='item.is_available' (change)="toggleAvailability(item)"></mat-slide-toggle>
                                    </td>
                                    <!-- <td *ngIf="inventoryManagement">  <mat-form-field class="example-full-width"> -->
                                        <!-- <mat-label>Inventory</mat-label>
                                        <input type="number" matInput [value]="item.inventory_stock" (blur)="editInventory(item, $event)">
                                      </mat-form-field>
                                    </td> -->
                                    <td class="col4" *ngIf="isType('restaurant')">
                                        <mat-slide-toggle color="primary" [ngModel]='item.is_favourite' (change)="toggleFavorite(item)"></mat-slide-toggle>
                                    </td>
                                    <!--<td *ngIf="counterMangement">
                                        <mat-form-field>
                                            <mat-label>Counter Name</mat-label>
                                            <mat-select (selectionChange)="updateCounter(item)" [(value)]="item.counter.counter_id">
                                                <mat-option>None</mat-option>
                                                <mat-option *ngFor="let option of countersAvailable" [value]="option.counter_id">{{option.counter_name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td> -->
                                    <td class="col5" [class.disabled]="item.is_available">
                                            <mat-icon svgIcon="edit" title="Edit this item" (click)="editItem(item)"></mat-icon>
                                    </td>
                                    <td class="col6">
                                        <mat-icon svgIcon="delete" title="Delete this item" (click)="deleteItem(item)"></mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-expansion-panel>
            </cdk-virtual-scroll-viewport>
        </div> 
    </div>  
    </ng-template>
</div>