<div class="main-container">
    <div class="navigation">
        <button mat-raised-button (click)="navigateToOrders()" color="primary">Orders</button>
        <div *ngIf="!menu; else elseBlock">
            <div class="center-spin">
                <mat-spinner diameter="100" style="margin: 0 auto"></mat-spinner>
              </div>
        </div>
        <ng-template #elseBlock>
            <div class="toggle-section">
                <mat-slide-toggle [ngModel]='printerRequired' color="primary" (change)="togglePrinterRequired()"></mat-slide-toggle>
                <h4 class="text-center m-0"> {{ printerRequired? 'Print on': 'Print off'}}</h4>
            </div>
            <div *ngIf="mobileOrderingEnabled" class="nav-center-section">
                <div class="toggle-section">
                    <mat-slide-toggle [ngModel]='restaurantStatus' color="primary" (change)="toggleRestOpen()"></mat-slide-toggle>
                    <h4 class="text-center m-0">Outlet is {{ restaurantStatus? 'open': 'closed'}}</h4>
                </div>
                <div class="toggle-section">
                    <mat-slide-toggle [ngModel]='parcelEnabled' color="primary" (change)="toggleParcelOn()"></mat-slide-toggle>
                    <h4 class="text-center m-0">Parcel is {{ parcelEnabled? 'enabled': 'disabled'}}</h4>
                </div>
            </div>
        </ng-template>
        <button *ngIf="isPOSEnabled" mat-raised-button (click)="navigateToPOS()" color="primary">
            POS
        </button>

        <mat-form-field >
            <mat-label>Search item</mat-label>
            <input matInput placeholder="search item" [(ngModel)]="searchText" (keyup)="filterItems()">
        </mat-form-field>
    </div>

    <div *ngIf="menu" class="menu-container">
        <div  class="category-bar" >
            <h2 (click)="addCategory()" class="add-header">Categories <span class="material-symbols-outlined">add_circle</span></h2>
            <div class="category-button" *ngFor="let category of allCategories;">
                <ul>
                    <li
                        class="category-bar-items {{
                        category.categoryName.replace(' ', '')
                        }}"
                        [ngClass]="{'bold': selectedCategory.includes(category)}"
                        (click)="onCategorySelection(category)"
                    >
                    <mat-icon *ngIf="category.categoryId" svgIcon="edit" title="Edit this item" (click)="editCategory(category)"></mat-icon>
                        {{ category.categoryName }}
                    </li>
                    </ul>
            </div>
        </div>
        <div class="items-section">
            <h2 (click)="addItem()" class="add-header">Items <span class="material-symbols-outlined">add_circle</span></h2>
            <table mat-table [dataSource]="dataSource" class="table table-hover">

                <ng-container matColumnDef="id">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let index=index"> {{index + 1}} </td>
                </ng-container>

                <ng-container matColumnDef="item">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let element"> 
                        <img class="indicator-image" *ngIf="element.veg" src="../../../../assets/images/veg_icon.png">
                        <img class="indicator-image" *ngIf="element.non_veg" src="../../../../assets/images/non_veg_icon.png">
                        <img class="indicator-image" *ngIf="element.egg" src="../../../../assets/images/egg_icon.jpg">
                        <p class="item-text">{{element.name}}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> 
                        ₹&nbsp;{{element.price}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="available">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Available </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-slide-toggle color="primary" [ngModel]='element.is_available' (change)="toggleAvailability(element)"></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="item_parcel">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Item parcel </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-slide-toggle color="primary" [ngModel]='element.parcel_available' (change)="toggleItemParcel(element)"></mat-slide-toggle>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="favorite">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Favorite </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-slide-toggle color="primary" [ngModel]='element.is_favourite' (change)="toggleFavorite(element)"></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="inventory">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Inventory </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.inventory_stock? element.inventory_stock: '-'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="counter">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Counter </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element.counter.counter_name}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-icon svgIcon="edit" title="Edit this item" (click)="editItem(element)"></mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell class="sticky-header" *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-icon svgIcon="delete" title="Delete this item" (click)="deleteItem(element)"></mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row class="sticky-header" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>

</div>