.main-container{
    width: 100%;
    height: 80vh;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-group-container{
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 10px;
    width: 80%;
    height: 30vh
}