
.flex-container{
    height: 620px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgba(240, 242, 245, 1);
}

.registration-item{
    width: 40%;
    height: 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 10px;
}
.register{
    text-align: center;
    width: 100%;
    display: inline-block;
  }