<div class="flex-container">
    <div class="registration-item">
        <div class="registration-box">
            <form [formGroup]="registrationForm" (ngSubmit)='registrationSubmit()'>
                <div class="row g-0">
                    <div>
                        <h4 class="register">Register</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <input placeholder="Email Address or Phone number" type="email" class="form-control" id="email" formControlName="email">
                        <div *ngIf="registerFormControl.email.touched && registerFormControl.email.invalid">
                            <small *ngIf="registerFormControl.email.errors?.['required']" class="text-danger">Email or Phone number required</small>
                            <small *ngIf="registerFormControl.email.errors?.['pattern']" class="text-danger"> Please enter valid email id or phone number</small>
                            <small *ngIf="registerFormControl.email.errors?.['userExists']" class="text-danger"> User already registered. Go to <a href="/">Login</a></small>
                        </div>
                        <div *ngIf="registerFormControl.email.untouched || registerFormControl.email.valid">
                            <br>
                        </div>
                    </div>
                    <div class="otp-item" *ngIf="shoulddisplayOtpItem()">
                        <form [formGroup]="otpForm" (ngSubmit)="signUpSubmit()" >
                            <div>
                                <div>
                                    <input placeholder="Please enter OTP here" type="text" class="form-control" formControlName="otp" 
                                    (focus)="authUser()" >
                                    <ng-template [ngIf]="authResponse" [ngIfElse]="noReponse">
                                        <div >
                                            <small>OTP Sent. Please check</small>
                                        </div>
                                    </ng-template>
                                    <ng-template #noReponse>
                                        <br>
                                    </ng-template>
                                </div>
                                <div>
                                    <button [disabled]="!otpForm.valid" type="submit" class="btn btn-primary validate-btn ">Validate</button>
                                </div>
                            </div>
                        </form> 
                    </div> 
                    <div class="row">
                        <div class="col mb-3">
                            <input placeholder="Password" [class.is-invalid]="registrationForm.errors?.['mismatch']" type="password" class="form-control" id="pwd" formControlName="pwd" size="100"> 
                            <div *ngIf="registerFormControl.pwd.touched && registerFormControl.pwd.invalid">
                                <small *ngIf="registerFormControl.pwd.errors?.['required']" class="text-danger">Password required</small>
                            <small *ngIf="registerFormControl.pwd.errors?.['minlength']" class="text-danger">Min 8 character password is required</small>
                            </div>
                            <div *ngIf="registerFormControl.pwd.untouched || registerFormControl.pwd.valid">
                                <br>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input placeholder="Confirm Password" type="password" class="form-control" id="rpwd" formControlName="rpwd" size="100">
                            <div *ngIf="registerFormControl.rpwd.touched && (registerFormControl.rpwd.invalid || registrationForm.errors?.['mismatch'])">
                                <small *ngIf="registerFormControl.rpwd.errors?.['required']" class="text-danger">Confirm Password required. </small>
                                <small *ngIf="registerFormControl.rpwd.errors?.['minlength']" class="text-danger">Min 8 character password is required. </small>
                                <small *ngIf="registrationForm.errors?.['mismatch'] && !registerFormControl.rpwd.errors?.['required'] && !registerFormControl.rpwd.errors?.['minlength']" class="text-danger">Password mismatch. </small>
                            </div>
                            <div *ngIf="registerFormControl.rpwd.untouched || (registerFormControl.rpwd.valid && !registrationForm.errors?.['mismatch'])">
                                <br>
                            </div>
                            
                        </div>
                    </div>    
                    </div>
                    <div class="row">
                        <div class="col-6 offset-3">
                            <div class="d-grid">
                                <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>   
        </div>
               
    </div>
    
</div>