<div class="contact-container">
  <div class="greeting-item">
    <h4>We would love to hear from you</h4>
  </div>
  <!-- <div class="contact-us-item">
        <form [formGroup]="contactObj" #userForm="ngForm" (ngSubmit)="onSend()" novalidate>
            <div class="form-group section">
                <input placeholder='Name' formControlName="name" type="text" size="50" class="form-control"
                [class.is-invalid]="contactFormControl.name.invalid && contactFormControl.name.touched">
                <div *ngIf="contactFormControl.name.valid || contactFormControl.name.untouched">
                    <br>
                </div>
                <div *ngIf="contactFormControl.name.invalid && contactFormControl.name.touched">
                    <small class="text-danger" *ngIf="contactFormControl.name.errors?.['required']">Name is required</small>
                </div>
            </div>
            <div class="form-group section">
                <input placeholder="Email address or phone number" formControlName='email_or_phone' type="email" size="50" class="form-control">
                <div *ngIf="contactFormControl.email_or_phone.valid || contactFormControl.email_or_phone.untouched">
                    <br>
                </div>
                <div *ngIf="contactFormControl.email_or_phone.invalid && contactFormControl.email_or_phone.touched">
                    <small class="text-danger" *ngIf="contactFormControl.email_or_phone.errors?.['required']">Email or Phone number is required</small>
                    <small class="text-danger" *ngIf="contactFormControl .email_or_phone.errors?.['pattern']">Please provide a valid email address or phone number</small>
                </div>
            </div>
            <div class="form-grup section">
                <textarea placeholder="Message" formControlName="message" type="text" rows="6" cols="52" class="form-control"></textarea>
                <div *ngIf="contactFormControl.message.valid || contactFormControl.message.untouched">
                    <br>
                </div>
                <div *ngIf="contactFormControl.message.invalid && contactFormControl.message.touched">
                    <small class="text-danger" *ngIf="contactFormControl.message.errors?.['required']">Please write a message</small>
                </div>
            </div>
            <div>
                <button [disabled]="!contactObj.valid" class="btn-send">Send</button>
            </div>
        </form>
        <div> -->
  <div>
    <div>
      <div class="MuiBox-root css-i3pbo">
        <div class="compalinace-page">
          <div class="compalinace-content">
            <div class="content-container">
              <p class="content-head">Contact us</p>
              <div class="content-seprater"></div>
              <p class="updated-date">Last updated on Oct 27th 2023</p>
              <p class="content-text">
                You may contact us using the information below:
              </p>
              <p class="content-text">
                Merchant Legal entity name: TakeMO<br />
                Registered Address: #100 "KRISHNALAYA" 5th cross AGS layout,
                Uttarahalli Bengaluuru KARNATAKA 560061<br />
                Operational Address: #100 "KRISHNALAYA" 5th cross AGS layout,
                Uttarahalli Bengaluuru KARNATAKA 560061
                <br />
                Telephone No: 7022915219<br />
                E-Mail ID: swaroop.9796&#64;gmail.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
