<div class="main-container">
    <mat-form-field >
        <mat-label>Filter</mat-label>
        <input (keyup)="applyFilter($event.target)" matInput placeholder="Filter">
    </mat-form-field>
    <cdk-virtual-scroll-viewport itemSize="500" class="viewport">
      <table mat-table [dataSource]="currentOrdersDataSource" class="mat-elevation-z8 demo-table">
        <!-- Position Column -->
        <ng-container matColumnDef="Order No">
          <th mat-header-cell *matHeaderCellDef>Order No.</th>
          <td mat-cell *matCellDef="let element">{{element.orderno}}</td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef='Order details'>
          <th mat-header-cell *matHeaderCellDef>Items</th>
          <td mat-cell style="white-space: pre;" *matCellDef="let element" [innerHTML]="element.order_detail"></td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef='Amount'>
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">₹ {{element.total_amount}}</td>
        </ng-container>
        
        <ng-container matColumnDef="OrderStatus">
            <th mat-header-cell *matHeaderCellDef>Order Status</th>
            <td mat-cell *matCellDef="let element" [innerHTML]="element.OrderStatus"></td>
        </ng-container>

        <ng-container matColumnDef="More details">
          <th mat-header-cell *matHeaderCellDef>Details</th>
          <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="displayMoreDetails(element)">More Details</button>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="OrderedAt">
          <th mat-header-cell *matHeaderCellDef>Ordered at</th>
          <td mat-cell *matCellDef="let element">{{element.OrderedAt}}</td>
        </ng-container>
        
        <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td mat-cell *matCellDef="let element">{{element.Location}}</td>
        </ng-container>

        <ng-container matColumnDef="order_after">
          <th mat-header-cell *matHeaderCellDef>Order After</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.restaurant_id == 1 || element.restaurant_id == 2; else orderAfterSection">
              -
            </div>
            <ng-template #orderAfterSection>
              <div *ngIf="allowOrderAfter(element); else billPrinted">
                {{element.order_after}}
                <div class="order-after-buttons">
                  <button mat-mini-fab (click)="modifyOrderAfter(element, 0)" color="basic">Now</button>
                  <button mat-mini-fab (click)="modifyOrderAfter(element, 5)" color="primary">+5 min</button>
                  <button mat-mini-fab (click)="modifyOrderAfter(element, 10)" color="warn">+10 min</button>
                </div>
              </div>
              <ng-template #billPrinted>
                Bill Printed
               </ng-template>
            </ng-template>
            


          </td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </cdk-virtual-scroll-viewport>
</div>
