<div class="main-container">
    <form [formGroup]="editRulesForm" (ngSubmit)="editRule()">
        <h1 mat-dialog-title>Edit this rule</h1>
        <div mat-dialog-content>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Item Name" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Start time</mat-label>
                    <input matInput [ngxMatTimepicker]="picker" placeholder="Start time" formControlName="start_time">
                    <ngx-mat-timepicker #picker></ngx-mat-timepicker>  
                </mat-form-field>

                <mat-form-field>
                    <mat-label>End time</mat-label>
                    <input matInput [format]="24" [ngxMatTimepicker]="picker2" placeholder="End time" formControlName="end_time">
                    <ngx-mat-timepicker #picker2></ngx-mat-timepicker>  
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Max Amount</mat-label>
                    <input matInput placeholder="Max Amount" formControlName="max_amount_per_shift">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-action>
            <button mat-raised-button >Cancel</button>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
    </form>
    <div *ngIf="users; else elseBlock">
        <cdk-virtual-scroll-viewport itemSize="500" class="viewport" >
            <mat-expansion-panel [expanded]='true' class="expansion-panel">
                <mat-expansion-panel-header >
                    <mat-panel-title>
                        Users in this shift
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <mat-icon svgIcon="plus" (click)="addUser()"></mat-icon>
                </div>
                <table class="table table-hover">
                    <thead class="text-center">
                        <tr>
                            <th class="col1" scope="col">Id</th>
                            <th class="col2" scope="col">User Name</th>
                            <th class="col3" scope="col">Email</th>
                            <th class="col4" scope="col">Restaurant Name</th>
                            <th class="col5" scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" >
                        <!-- <p style="margin: 0; padding: 5px 0 0 10px; text-align: left;">{{category.category.name}}</p>         -->
                        <tr class="table-row" *ngFor="let user of users.users; let subIndex = index">
                            <td class="col1" >{{user.user_id}}</td>
                            <td class="col2" >{{user.username}}</td>
                            <td class="col3" >{{user.user_email}}</td>
                            <td class="col4">{{user.restaurant_name}}</td>
                            <td class="col5">
                                <mat-icon svgIcon="delete" (click)="deleteUser(user)"></mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
        </cdk-virtual-scroll-viewport>

    </div>
    <ng-template #elseBlock>
        No users for this rule: Add here
        <mat-icon svgIcon="plus" (click)="addUser()"></mat-icon>
        please
    </ng-template>
</div>