<div class="main-container">
    <form [formGroup]="editRulesForm">
        <h1 mat-dialog-title>Edit this Shift</h1>
        <div mat-dialog-content>
            <div class="form-container">
                <mat-form-field class="form-field">
                    <mat-label>Name</mat-label>
                    <input matInput  (keydown)="false" placeholder="Item Name" formControlName="name">
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Start time1</mat-label>
                    <input matInput  (keydown)="false" [ngxMatTimepicker]="picker" placeholder="Start time" formControlName="start_time">
                    <ngx-mat-timepicker #picker></ngx-mat-timepicker>  
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>End time</mat-label>
                    <input matInput [ngxMatTimepicker]="picker2" placeholder="End time" formControlName="end_time">
                    <ngx-mat-timepicker #picker2></ngx-mat-timepicker>  
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Max Amount</mat-label>
                    <input matInput placeholder="Max Amount" formControlName="max_amount_per_shift">
                </mat-form-field>
                <mat-checkbox class="example-margin" [formControl]="checked">Same day</mat-checkbox>
            </div>
        </div>
        <div mat-dialog-actions class="action-container">
            <button mat-raised-button (click)="onCancelClick()">Cancel</button>
            <button mat-raised-button color="primary" (click)="editRule()" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <br>
    <div *ngIf="users; else elseBlock">
        <cdk-virtual-scroll-viewport itemSize="500" class="viewport" >
            <mat-expansion-panel [expanded]='true' class="expansion-panel">
                <mat-expansion-panel-header >
                    <mat-panel-title>
                        <h2 class="text-center">Users in this shift</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <mat-icon class="add-user-icon" title='Add users to this shift' svgIcon="plus" (click)="addUser()"></mat-icon>
                </div>
                <table class="table table-hover">
                    <thead class="text-center">
                        <tr>
                            <th class="col3" scope="col">Email</th>
                            <th class="col4" scope="col">Assigned To</th>
                            <th class="col5" scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" >
                        <!-- <p style="margin: 0; padding: 5px 0 0 10px; text-align: left;">{{category.category.name}}</p>         -->
                        <tr class="table-row" *ngFor="let user of users.users; let subIndex = index">
                            <td class="col3" >{{user.email}}</td>
                            <td class="col4">{{user.restaurant_name || user.company_name}}</td>
                            <td class="col5">
                                <mat-icon *ngIf="!user.is_deleted" svgIcon="delete" (click)="deleteUser(user)"></mat-icon>
                                <p *ngIf="user.is_deleted">User deleted</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-expansion-panel>
        </cdk-virtual-scroll-viewport>

    </div>
    <ng-template #elseBlock>
        No users for this rule: Add here
        <mat-icon svgIcon="plus" (click)="addUser()"></mat-icon>
        please
    </ng-template>
</div>