.main-container{
    width: 90%;
}

.viewport {
    height: 70vh;
}

.form-container{
    display: flex;
    justify-content: space-between;   
    gap: 2px;
}

.form-field{
    flex-wrap: wrap;
}

.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}

.add-user-icon{
    width: 100%;
    height: 3em;
}

#divChart{
    display: block;
    width: 400px;
    height: 400px;
}



@media screen and (max-width: 425px) {
    .form-container{
        flex-direction: column;
    }
}

::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 246);
    border-radius: 10px;
}
