<div class="main-container">
    <div class="window-container">
        <img *ngIf="success" src="https://www.freeiconspng.com/uploads/success-icon-10.png" style="width: 200px; height: auto;" alt="failed">
        <img *ngIf="fail" src="https://png.pngtree.com/png-clipart/20200701/original/pngtree-red-error-icon-png-image_5418881.jpg" style="width: 200px; height: auto;" alt="failed">
            <div>
                <h2 style="text-align: center;">Transaction id: {{transactionId}}</h2>
            </div>
            <div *ngIf="orderno">
                <h2 style="text-align: center;">Order No: {{orderno}}</h2>
            </div>
            <div>
                <h3 class="text-center">Transaction Amount: {{transactionAmount}}</h3>
            </div>   
            <div>
                <button class="my-orders" mat-raised-button color="primary"><a href="{{redirectURL}}">Click here to return</a></button>
            </div>  
    </div>
</div>