<div class="main-container">
    <div class="content-box">
        <ng-container *ngFor="let table of tables">
            <button class="card-box" [ngClass]="table.is_occupied? 'occupied-table': 'vacant-table'" (click)="openTableDetails(table)">
                <h2 style="font-size: xx-large; display: inline-block;" class="text-center text-black">{{table.table_name}}  </h2>
                
                <h1 class="text-center text-black">{{table.capacity}}</h1>
            </button>
        </ng-container>
    </div> 
</div>