<div class="main-container">
    <div  style="width: 100%; text-align: right;">
        <small>*Drag and drop table cards to move orders between tables</small>
    </div>
    <div class="content-box" cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="onDrop($event)">
        <div *ngFor="let table of tables" (cdkDragEntered)="onHover(table, $event)" [cdkDragDisabled]="!table.is_occupied" cdkDrag class="card-box" [ngClass]="table.bill_printed? 'billpaid-table': table.is_occupied? 'occupied-table': 'vacant-table'" (click)="openTableDetails(table)">
                    <h2 style="font-size: xx-large; display: inline-block;" class="text-center text-black">{{table.table_name}}  </h2>
                    <div>
                        <div class="capacity-block">
                            <mat-icon class="p-0 m-0">people</mat-icon><h1 class="text-center text-black p-0 m-0" style="display: inline-block;">{{table.capacity}}</h1>
                        </div>
                        <div class="capacity-block">
                            <mat-icon class="p-0 m-0">av_timer</mat-icon><h2 class="text-center text-black p-0 m-0" style="display: inline-block;">{{table.time}} min</h2>
                        </div>
                    </div>
            </div>
    </div> 


</div>