<div class="main-container">
    <h4 mat-dialog-title>Proceed??</h4>
    <div mat-dialog-content class="table-container">
        <table  class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pickedItems.items">
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity * item.price}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center amount">Total Amount:&nbsp;
            &nbsp;₹ {{pickedItems.amount}} </div>
    </div>
    <div mat-dialog-actions class="button-container">
        <div class="confirmation-buttons">
            <button mat-raised-button (click)="onEditButtonClick()">Edit Order</button>
        </div>
        <div class="confirmation-buttons" *ngIf="isPayment; else elsePayment">
            <button mat-raised-button (click)="onProceedPaymentClick()" color="primary">Proceed to Pay</button>
        </div>
        <ng-template #elsePayment>
            <button mat-raised-button (click)="onConfirmButtonClick()" color="primary">Confirm Order</button>
        </ng-template>
        
    </div>
</div>
