.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.table-container{
    margin: 20px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

