.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}


.item-quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

td{
    padding: 0;
    margin: 0;
}

.col1{
    width: 35%;
}

.col2{
    width: 35%;
}

.col3{
    width: 10%;
}

.col4{
    width: 10%;
}

.col5{
    width: 10%;
}

:host ::ng-deep .mdc-dialog .mdc-dialog__content  {
    padding: 0px;
    margin: 0;
}