.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.table-container{
    margin: 20px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}


.item-quantity{
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.col1{
    width: 35%;
}

.col2{
    width: 35%;
}

.col3{
    width: 20%;
}

.col4{
    width: 10%;
}

.col5{
    width: 10%;
}