.item-quantity{
    display: flex;
    justify-content: space-between;  
  }

  .delivery-sections{
    display: flex;
    gap: 1em
  }

  .main-section h2{
    margin-bottom: 0;
    margin-top: 1em;
  }

  .item-quantity{
    display: flex;
    justify-content: space-between;  
  }
  