.main-container{
    width: 100%;
    height: 80vh;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-group-container{
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 10px;
    width: 80%;
    height: 30vh
}

.viewport {
    height: 68vh;
}
.pdf-viewer{
    display: block; 
    width: 100%;
     min-height: 60vh;
     border: 1px solid black;
     margin: 10px 0 10px 0;
}


::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 246);
    border-radius: 10px;
}