.main-container{
    width: 23em;
}
.viewport {
    height: 480px;
}

.col1, .col2{
    width: 100px;

}

.table{
    width: 200px;
}

.mat-deliver{
    background-color: rgb(9, 166, 88);
}
::-webkit-scrollbar {
    width: 6px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 246);
    border-radius: 10px;
}