<div class="main-container">
    <form [formGroup]="editMenuForm" (ngSubmit)="editSubmit()">
        <h1 mat-dialog-title> Edit this item</h1>
        <div mat-dialog-content>
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label>Item Name</mat-label>
                        <input matInput placeholder="Item Name" value="{{data.name}}" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Price</mat-label>
                        <input matInput placeholder="Price" value="{{data.price}}" formControlName="price">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>MRP Price</mat-label>
                        <input matInput placeholder="MRP price" value="{{data.mrp_price}}" formControlName="mrp_price">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-radio-group formControlName="isVeg">
                            <mat-radio-button value='veg' [checked]="data.veg">Veg</mat-radio-button>
                            <mat-radio-button value='non_veg' [checked]="data.non_veg">Non Veg</mat-radio-button>
                            <mat-radio-button value='egg' [checked]="data.egg">Egg</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <mat-select formControlName="counter_id">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let option of data.countersAvailable" [value]="option.counter_id">{{option.counter_name}}</mat-option>
                        </mat-select>
                    </div>
                    <div>
                        <mat-form-field  [style.fontSize]="16">
                        <mat-label>Description</mat-label>
                        <textarea matInput
                                  cdkTextareaAutosize
                                  #autosize="cdkTextareaAutosize"
                                  cdkAutosizeMinRows="1"
                                  cdkAutosizeMaxRows="5"
                                  formControlName="item_description"></textarea>
                      </mat-form-field>
                    </div>

                </div>
        </div>
        <div mat-dialog-actions>
            <button mat-button type="button" (click)="close()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!editMenuForm.valid" type="submit" >Submit</button>
        </div>
    </form>
</div>
